USE [HappyTummy]
GO
/****** Object:  Table [dbo].[CarbInfo]    Script Date: 2/22/2026 12:51:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarbInfo](
	[CarbID] [int] NOT NULL,
	[CarbFood] [varchar](50) NULL,
	[CarbFiber] [numeric](3, 2) NULL,
	[CarbCalories] [numeric](6, 2) NULL,
	[CarbProtein] [numeric](6, 2) NULL,
	[CarbSugar] [numeric](6, 2) NULL,
	[QuantityCarb] [numeric](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[CarbID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FruitInfo]    Script Date: 2/22/2026 12:51:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FruitInfo](
	[FruitID] [int] NOT NULL,
	[FruitFood] [varchar](50) NULL,
	[FruitFiber] [numeric](3, 2) NULL,
	[FruitCalories] [numeric](6, 2) NULL,
	[FruitProtein] [numeric](6, 2) NULL,
	[FruitSugar] [numeric](6, 2) NULL,
	[QuantityFruit] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FruitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeatInfo]    Script Date: 2/22/2026 12:51:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeatInfo](
	[MeatID] [int] NOT NULL,
	[MeatFood] [varchar](50) NULL,
	[MeatFiber] [numeric](3, 2) NULL,
	[MeatCalories] [numeric](6, 2) NULL,
	[MeatProtein] [numeric](6, 2) NULL,
	[MeatSugar] [numeric](6, 2) NULL,
	[QuantityMeat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Milk1]    Script Date: 2/22/2026 12:51:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Milk1](
	[Milk1ID] [int] NOT NULL,
	[Milk1Name] [varchar](50) NULL,
	[Milk1Fiber] [numeric](3, 2) NULL,
	[Milk1Calories] [numeric](6, 2) NULL,
	[Milk1Protein] [numeric](6, 2) NULL,
	[Milk1Sugar] [numeric](6, 2) NULL,
	[QuantityMilk1] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Milk1ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Milk2]    Script Date: 2/22/2026 12:51:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Milk2](
	[Milk2ID] [int] NOT NULL,
	[Milk2Name] [varchar](50) NULL,
	[Milk2Fiber] [numeric](3, 2) NULL,
	[Milk2Calories] [numeric](6, 2) NULL,
	[Milk2Protein] [numeric](6, 2) NULL,
	[Milk2Sugar] [numeric](6, 2) NULL,
	[QuantityMilk2] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Milk2ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VegInfo]    Script Date: 2/22/2026 12:51:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VegInfo](
	[VegID] [int] NOT NULL,
	[VegFood] [varchar](50) NULL,
	[VegFiber] [numeric](3, 2) NULL,
	[VegCalories] [numeric](6, 2) NULL,
	[VegProtein] [numeric](6, 2) NULL,
	[VegSugar] [numeric](6, 2) NULL,
	[QuantityVeg] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VegID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
